#banner{
    background-color: green;
    color: white;
    display: flex;
}

#scores:hover {
    color: black;
}

#timer{
    position: absolute;
    top: 8px;
    right: 20px;
}

body{
    background-color: lightgreen;
}

main{
    border: 2px solid black;
}

#body{
    text-align: center;
}

#list{
    text-align: center;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

#start{
    background-color: green;
    color: white;
    border: 2px solid black;
    position: absolute;
    border-radius: 5%;
    border-width: 1px;
    font-size: 200%;
    padding: 2% 3%;
    left: 42%
}

#question{
    border: 2px solid black;
    max-width: 50%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: #008000;
    color: white;
    position: absolute;
    left: 42%;
}

#question-box{
    border: 2px solid black;
    display: none;
    height: 100%;
    width: 100%;
}

#answer-btn{
    text-align: center;
    font-size: 100%;
    list-style-type: none;
}

.btn{
    user-select: all;
    background-color: lightgreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#next-btn:hover{
    background-color: green;
}

.btn:hover{
    background-color: green;
}

#results{
    display: none;
    background-color: lightgreen;
    text-align: center;
}

#scoreScreen{
    display: none;
    background-color: lightgreen;
    text-align: center;
}