:root{
    --background: green;
    --text: white;
    --light: lightgreen;
}

#banner{
    background-color: var(--background);
    color: var(--text);
    display: flex;
}

#scores:hover {
    color: black;
}

#return:hover {
    color: black
}

#timer{
    position: absolute;
    top: 8px;
    right: 20px;
}

body{
    background-color: var(--light);
}

main{
    border: 2px solid black;
}

#body{
    text-align: center;
}

#list{
    text-align: center;
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

#start{
    background-color: var(--background);
    color: var(--text);
    border: 2px solid black;
    position: absolute;
    border-radius: 5%;
    border-width: 1px;
    font-size: 200%;
    padding: 2% 3%;
    left: 42%
}

#question{
    border: 2px solid black;
    width: 100%;
    text-align: center;
    font-size: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: var(--background);
    color: var(--text);
}

#question-box{
    border: 2px solid black;
    display: none;
    width: 50%;
    position: absolute;
    left: 20%
}

#answer-btn{
    text-align: center;
    font-size: 100%;
    list-style-type: none;
    margin: 5%;
}

.btn{
    user-select: all;
    background-color: var(--light);
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
    border-radius: 25%;
    font-size: 200%;
}

#next-btn:hover{
    background-color: var(--background);
}

.btn:hover{
    background-color: var(--background);
}

#results{
    display: none;
    background-color: var(--light);
    text-align: center;
}

#scoreScreen{
    display: none;
    background-color: var(--light);
    text-align: center;
}